.td-metric-card {
  background: #fff;
  border-radius: 8px;
  border: 2px solid #f7fbff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  box-shadow: 0 -3px 3.85px rgba(15, 15, 16, 0.05);
}

.td-metric-card__title {
  height: 17px;
  width: 100%;
  display: grid;
  place-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #5a5c63;
}

.td-metric-card__gauge {
  display: grid;
  place-items: center;
}

.td-metric-card__value {
  height: 20px;
  width: 100%;
  display: grid;
  place-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #0f0f10;
}
