.td-circ-gauge {
  position: relative;
  display: grid;
  place-items: center;
}

.td-circ-gauge__svg {
  position: absolute;
  inset: 0;
}

.td-circ-gauge__icon {
  position: relative;
  z-index: 1;
  display: block;
}
